* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container-title {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}
img {
    margin: 0 30px;
    height: 250px;
}
.img1 {
    filter: blur(0.5em);
    /* es el desenfoque y se manejo por px, rem y em. */
}
.img2 {
    filter: brightness(0.5);
    /* brillo: se manejan por unidades o numeros, scala de 0 - 1 */
}
.img3 {
    filter: contrast(2.5);
    /*contraste: se mannejan por numeros y % donde 1 es el inicio  sacala del 1 - 100*/
}
.img4 {
    filter: drop-shadow(10px 10px 10px #000);
    /* sobra para las imagenes trasaprentes, le damos sombra a al contenido
    de la imagen no al cuadro de la caja en comparacion del box-shadow */
    box-shadow: 10px 5px 20px #000;
    /* a diferriencia del filter: drop-shadow;  esta le da sombra al contorno
    de la caja de la imagen */
}
.img5 {
    filter: grayscale(1);
    /* escala degrises: convertir a escala de grises, se maneja por nnumeros, scala del 0 - 1
    y % scala del 1 - 100 %*/
}
.img6 {
    filter: hue-rotate(70deg);
    /* Rotar: rota los colores se puede decir que practicamente los invierte 
    y se maneja en grados: deg, radianes: rad y gradianes: grad.*/
}
.img7 {
    filter: invert(0.9);
    /* ivertir: invirte los colores pero como si fuera en la escale de grises
    y se maneja en % y en la escala del 0 - 1 */
}
.img8 {
    filter: opacity(0.2);
    /* opacidad: practicamante es la trasparencia que le podemos dar a una imagen
    se maneja en % y en scala del 0 - 1 */
}
.img9 {
    filter: saturate(700%);
    /* saturacion: saturamos los colores y hacindo que llegen a su maximo color
    se manejaan en % 1 - 1000% y en la escala del 0 - 1  */
}
.img10 {
    filter: sepia(1);
    /* psa nada esto lo pone en sepia y tiene una escala del 0 - 1 y % del 1 - 100% */
}
.img11 {
    filter: none;
}


.container-practica{
    filter:  contrast(30);
    background: #fff;
}

.item {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 30px;
    background-color: #f00;
    border-radius: 50%;
    filter: blur(20px);
}
.item:first-child {
    animation: gota 2.7s alternate infinite;
}

@keyframes gota {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(150px);
    }
}
