/*FIXED:  "position: fixed;" tiene la propiedad de que la caja se quede pegada estaticamente
en el "viewport" perdiendo su espacio reservado en memoria quedando por enciama de las demas
cajas, pero sin moverse al momento de darle Scroll ala pagina esta caja se quedara estatica
el el lugar que le indiquemos.*/

div{
	font-size: 30px;
}
.lorem{
	padding-top: 80px;
}
.caja-fixed{
	background: red;
	position: fixed;
	opacity: .7;
}
