/*El "position" tiene varios atributos que nos permite posisionar las cajasuna enciam
de la otra, quebrando asi la jerarquia que nos da por defecto 
la estructura de HTML ("como se vallan escribiendo va quedando una encima de la otra")
el "position" nos da esta ventaja de posisionar una caja que fue decalrada primero y
que por ende va quedando abajo de las demas que se van declarando despues 
nos da la posibilidad de pasarla al frente de todas como si fuera declarada a lo ultimo
*/

/*Veamos algunos Shortand del position: STATIC: RELATIVE: ABSOLUTE: FIXED: STICKI */

/*STATIC:  "positiion: static;" es es el mas simple ya que este es como si no tubiera nada
conserva sus valores por defecto*/

/*RELATIVE:  "position: relative;" cuando posicionamos un elemento hacemos que adquiera 4
propiedades nuevas las propiedades top y bottom especifican el desplazamiento
vertical desde su posición original; las propiedades left y right especifican su desplazamiento
horizontal y adquiere el "Z index" esto hace que el elemento o la caja se posicione alfrente 
de todas las demas, sin importar si fue declarada antes o despues.*/

/*NOTA: "position relateve"permite conservar el espacio que tiene reservado en memoria en el 
"DOM" (Document Objet Model) Modelo de Objeto de Documento, asi que si le damos un "top" tomara
como referencia su espacio reservado y no el "viewport", eset no */

div{
	width: 100px;
	height: 100px;
	font-family: cursive;	
	font-size: 30px;

}

.caja1{
	background: red;
}
.caja2{/*Porque la caja 3 no sube.? es porque el espacio en meoria de la caja 2 la sigue
siendo el espacuio de la caja 2 es lo que hace relative, aun que se mueva la caja no quiere
decir que pierda su lugar en el espacio en memoria del DOM nadie puede ocupar su espacio
en memoria porque tiene un "zindex" mayor a todas las demas cajas y eso quiere decir que
esta por encima de todas las demas en el "eje z"*/
	background: green;
	position: relative;
	top: 260px;
	left: 30px;	
}
.caja3{
	background: yellow;
}
.caja4{
	background: orange;
}